.main {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  @media (width <= 450px){
    width: 100%;
  }
  button,
  a {
    transition: all var(--transition);
    &:focus-visible {
      outline-color: var(--purple);
    }
  }
  h1, 
  h2,
  h3{
    color: var(--purple);
    text-align: center;
  }
  h1 {
    font-size: 3em;
  }
}
.h2 {
  font-size: 2.5em;
  @media (width <= 450px) {
    font-size: 2em;
  }
}
@mixin focusVisible {
  outline-color: var(--purple);
  border-radius: 34px;
}
.headerWrapper {
  border: 3px solid var(--light-purple);
  border-radius: 34px;
  margin: 30px auto;
  width: 75%;
  min-height: 500px;
  @media (width <= 450px) {
    margin: 10px auto;
    width: 90%;
    border: none;
    border-bottom: 3px solid var(--light-purple);
    min-height: 300px;
  }
}
.graphic {
  width: 80%;
  margin: 20px auto;
  &:focus-visible{
    @include focusVisible();
  }
  @media (width <= 450px) {
    width: 90%;
  }
}
.projectSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
  @media (width <= 900px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width <= 450px){
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.oneMoreThing {
  background: var(--light-green);
  padding: 20px 20px 70px 20px;
  border-bottom: 3px solid var(--green);
  border-radius: 0 0 50% 50%; 
  @media (width <= 450px){
    border-radius: 0;
  }
  h2{
    color: var(--purple);
    text-align: center;
    font-size: 2em;
    @media (width <= 450px) {
      font-size: 1.5em;
    }
  }
  p {
    margin: auto;
    width: 75%;
    text-align: justify;
    @media (width <= 450px){
      text-align: start;
    }
  }
}
.footer{
  margin:0;
  font-family: var(--webText);
  padding-block: 2em;
}
.toolsSection {
  text-align: center;
  border: 3px solid var(--light-green);
  border-radius: 34px;
  padding: 30px 70px;
  margin: 5rem auto 0 auto;
  h2 {
    font-size:2.5em;
    margin-top: 1rem;
  }
  @media (width <= 450px) {
    padding: 30px;
  }
  li {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    align-items: center;
    color: var(--green);
  }
}
.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 60px;
  @media (width <= 450px) {
    gap: 30px;
  }
}
.contactSection {
  text-align: center;
  margin: 20px auto;
  h2 {
    font-size: 2.5em;
    @media (width <= 450px) {
      font-size: 2em;
    }
  }
}
.li {
  transition: transform 0.2s ease;
  &:hover,
  &:focus-visible {
      transform: translateY(-15px);
  }
  a:focus-visible {
    padding: 7px 7px 0px 7px;
    display: block;
  }
  @media (width <= 450px) {
      gap: 30px;
  }
}
.projectWrapper {
  cursor: pointer;
  text-align: center;
  display: inherit;
  justify-items: center;
  border: 3px solid var(--light-green);
  border-radius: 15px;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  h2,
  p {
    margin: 0;
  }
  &:focus-visible{
    @include focusVisible();
    & {
      padding: 1% 1% 0px 1%;
    }
  }
  &:hover{
    transform: scale(1.025);
    box-shadow: 1px 1px 7px var(--green);
  }
}
.project {
  border-radius: 15px;
  width: 55%;
  max-height: 90%;
  padding: 2rem;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#fff;
  @media (width <= 450px) {
    padding: 1rem;
    width: 90%;
  }
}
.projectInfo {
  border: 5px solid var(--light-green);
  border-radius: 15px;
  padding: 2rem;
  text-align: start;
  @media (width <= 450px) {
    padding: 1rem;
  }
}
.projectDescription {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
  scrollbar-width: auto;
  scrollbar-color: var(--light-green) #fff;
  scrollbar-gutter: stable both-edges;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: var(--purple);
  opacity: .5;
  z-index: 19;
  position: fixed;
  top: 0;
  right: 0;
}

@mixin button {
  display: inline-block;
  background: var(--light-purple);
  color:#fff;
  text-shadow: -1px -1px 0 var(--purple), 1px -1px 0 var(--purple), -1px 1px 0 var(--purple), 1px 1px 0 var(--purple);
  border: 1px solid var(--purple);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin: 40px 5% 0 5%;
  &:hover {
    color:#fff;
    text-decoration: none;
    background: var(--purple);
  }
  @media (width <= 450px) {
    width: 100%;
    margin: 20px 0;
  }
}

.btnPurple {
  @include button();
}
.btnPink {
  @include button();
  & {
    background: #F2C3D3;
    text-shadow: -1px -1px 0 #A05770, 1px -1px 0 #A05770, -1px 1px 0 #A05770, 1px 1px 0 #A05770;
  }
  &:hover {
    background: #A05770;
  }
  @media (width <= 450px) {
    margin: 0;
  }
}
.close {
  border-radius: 50%;
  background: #F2C3D3;
  padding:15px;
  border: none;
  color:#fff;
  line-height: 0;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  @media (width <= 450px) {
    padding: 10px;
    top: -10px;
    right: -10px;
  }
}

.achievements {
  padding: revert;
  li {
    margin-bottom: 10px;
    list-style: disc;
    &::marker{
      color: var(--green);
    }
  }
}
@keyframes wiggle {
  from {
    transform: rotate(15deg)
  }
  to {
    transform: rotate(-15deg);
  }
}
.askAboutThis {
  list-style-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 36.4995C14.5 29.4995 21.5 4 19 2.5C17 1.3 34.8333 30.6662 40 40.4995C28.2337 30.1528 19.6685 26.6527 0.5 24.9996C14.6186 21.8677 41.185 8.542 34.5 14.4996C27.7101 20.5506 17.6667 32.2752 12.5 36.4995Z' stroke='%23FBBC05' stroke-width='3'/%3E%3C/svg%3E") !important;
  &::marker{
    animation: .5s linear infinite alternate wiggle;
  }
}
.experience {
  @media (width <= 450px) {
    font-size: 1.35rem;
  }
}