.main {
  padding:0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  @media(max-width: 830px){
    width: 100%;
  }
}
.p {
  font-size: 2em;
  color: white;
  z-index:1;
  padding: 0.5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  margin: 0;
  text-shadow: 3px 3px 0px var(--text-color);
  -webkit-text-stroke: 1px var(--brand-color);
}
@mixin a {
  display:grid;
  height: 33.33vh;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;
  &:hover{
    text-decoration:none;
    p + img {
      -webkit-filter: blur(5px);
      filter: blur(5px);
     }
  }
}
@mixin img {
  object-fit: cover;
  width:100%;
  height: inherit;
  transition: all .5s ease-in-out;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  &:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px);
   }
}
.original{ 
  @include a;
}
.client {
  @include a;
  background-color: var(--seagreen-highlight); 
}
.fun {
  @include a;
  background-color: var(--blue-highlight); 
}

.imgOriginal {
 @include img;
  @media(max-width: 400px){
    object-position: center;
  }
}
.img {
 @include img;
}
.videoWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}
.video {
  margin:1rem;
  max-width: 300px;
  summary {
    width: 100%;
    font-weight: 700;
  }
  summary::marker {
    color: var(--brand-color);
  }
  details {
    inline-size: 50ch;
    p {
      margin-top: 0;
      a {
        word-break: break-all;
      }
    }
    &::details-content {
      word-break: auto-phrase;
      opacity: 0;
      block-size: 0;
      height: auto;
      overflow: clip; 
      transition: content-visibility 1s allow-discrete,
                  opacity 1s,
                  block-size 1s;
      background: white;
      border: 1px solid purple;
      border-radius: 4px;
      padding: 1rem;
      margin-top: 1rem;
      position: absolute;
      width: 266px;
    }
    &[open]::details-content {
      opacity: 1;
      block-size: auto;
    }
  }
}
.projectWrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  @media (max-width: 830px){
    grid-template-columns: repeat(1, 1fr);
  }
}
.project {
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 7px var(--brand-color);
  }
  img {
    height: 100%;
    width: 100%;
  }
}
.charactersBlock {
  display: grid;
  gap:0.5rem;
  img {
    max-width: 300px;
  }
  @media (width >= 830px) {
    max-width: none;
    grid-template-columns: repeat(3, auto);
    img {
      max-width: 370px;
    }
  }
} 