@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://use.typekit.net/fgw1lke.css");

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --brandFont: "Cinzel Decorative", cursive;
  --linkFont: "futura-pt", sans-serif;
  --textFont: "Lato",sans-serif;
  --brand-color: #4A287C;
  --pink-highlight: #fc79b4;
  --text-color: #363636;
  --seagreen-highlight: #3bcacb;
  --purple-highlight: #9370db;
  --text-shadow: 3px 3px 0px var(--brand-color);
  
}
body{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}
