@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://use.typekit.net/fgw1lke.css");

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --brandFont: "Cinzel Decorative", cursive;
  --linkFont: "futura-pt", sans-serif;
  --textFont: "Lato", sans-serif;
  --brand-color: #4a287c;
  --pink-highlight: #fc79b4;
  --text-color: #363636;
  --seagreen-highlight: #3bcacb;
  --purple-highlight: #9370db;
  --blue-highlight: #9ac8f3;
  --text-shadow: 3px 3px 0px var(--brand-color);
}
.hidden {
  position: static;
  background: none;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--text-color);
  font-family: var(--textFont);
  font-size: 1.25rem;
}
main {
  margin-left: 20rem;
  padding: 2rem;
  @media (max-width: 830px) {
    margin-left: 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--brand-color);
  font-family: var(--linkFont);
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: var(--pink-highlight);
    text-decoration: underline;
  }
}

main nav ul {
  text-align: center;
  display: block;
  margin-bottom: 4rem;
  li {
    display: inline;
    padding: 2rem;
    @media (max-width: 830px) {
      font-size: 1rem;
      padding: 1rem;
    }
  }
}
article,
section {
  max-width: 1200px;
  margin: auto;
}
footer {
  margin-left: 20rem;
  text-align: center;
  @media (max-width: 830px) {
    margin-left: 0;
  }
}
