@use 'sass:color';
.main {
  background:  color.adjust(#9370db, $lightness: 20%);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 50vh);
  gap: 0;
  @media(max-width: 830px){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25vh);
  }
}

@mixin img {
  display: inherit;
  grid-template-rows: subgrid;
  overflow: hidden;
  transition: text-decoration var(--transition);
  &:hover{
    text-decoration: none;
   }
  p {
    z-index: 1;  
    margin: 0;
    padding: 0 0.5rem;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
    grid-column: 1/3;
    font-size: 3.25em;
    text-shadow: 3px 3px 0px var(--brand-color);
    font-weight: bold;
    line-height: 1em;
    -webkit-text-stroke: 1px var(--brand-color);
    color:#fff;
    background-color: var(--pink-highlight);
    &:hover{
      & + img {
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
     }
    @media(max-width: 830px){
      font-size: 2em;
    }
  }
  img {
    object-fit:cover;
    margin: 0;
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    border-radius:0;
    mix-blend-mode: multiply;
    transition: all .5s ease-in-out;
    &:hover{
      -webkit-filter: blur(5px);
      filter: blur(5px);
     }
  }
   @media(max-width: 830px){
    grid-column: 1/2;
    img {
      height: revert-layer;
    }
  }
}
.imgAnimation{
  grid-row: 1/2;
  grid-column: 1/2;
  @include img;
}

.imgComic {
  @include img;
  & {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  @media(max-width: 830px){
    grid-row:2/3;
    grid-column: 1/2;
  }
}

.imgArt {
  grid-row:2/3;
  grid-column: 1/2;
  @include img;
  @media(max-width: 830px){
    grid-row:3/4;
  }
}

.imgShop {
  grid-row:2/3;
  grid-column: 2/3;
  @include img;
  @media(max-width: 830px){
    grid-column: 1/2;
    grid-row:4/5;
  }
}

