.main{
  overflow: hidden;
  padding:0; 
  display:grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100vh;
  @media(max-width: 830px) {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, 50vh);
  }
}
.a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--purple-highlight); 
  overflow: hidden;
  &:hover {
    text-decoration: none;
    p + img {
      -webkit-filter: blur(5px);
      filter: blur(5px);
     }
  }
  @media(max-width: 830px){
    grid-template-rows: repeat(2, 50%);
   }
}
.h1 {
  margin-block: 2rem;
  font-family: var(--cinzel_decorative);
  text-align: center;
  font-size: 2rem;
}
.article {
  margin-bottom: 2rem 3rem;
}
.p {
  font-size: 2.5em;
  color:#fff;
  z-index:1;
  text-shadow: 3px 3px 0px var(--text-color);
  -webkit-text-stroke: 1px var(--brand-color);
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
  @media(max-width: 830px){
    grid-row: 1/3;
   }
}

.img {
  object-fit: cover;
  width:100%;
  transition: all .5s ease-in-out;
  grid-row: 1/2;
  grid-column: 1/2;
  &:hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
   }
   @media(max-width: 830px){
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
   }
  }
