.main{
  background: linear-gradient(155.85deg, #f7cade 11.48%, #cde7ff 67.04%);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}
.h1 {
  font-size: 2rem;
  text-align: center;
}
.wrapper {
  background:#fff;
  padding: 2rem;
  border-radius: 15px;
  border: 5px solid var(--brand-color);
  text-align: center;
  li {
    margin-block: 1rem;
    font-size: 1.75rem;
  }
}