.main {
  padding: 2rem;
  display: block;
  justify-content: center;
  height: 100vh;
  
}
.h1 {
  font-size: 2rem;
  text-align: center;
}
.wrapper {
  background:#fff;
  padding: 2rem;
  text-align: center;
  p {
    margin: 1rem;
    display: block;
  }
  * {
    margin-inline: auto;
  }
}