.section {
    width: 100vw;
    height:100vh;
    font-size: 1.5rem;
    text-align:center;
    color: var(--text-color);
    background: linear-gradient(180deg,#b5dbff,#d0c1f4);
}

.a {
    font-weight:bold;
    text-decoration: none;
    color: var(--brand-color);
    transition: color var(--transition);
    &:hover{
        color: var(--pink-highlight);
    }
}

.h1 {
    margin: 0;
    padding: 2rem;
    font-size: 3rem;
    @media (max-width: 480px){
        font-size: 2rem;
  }
}