.gridImg {
  img{
    transition: transform .2s ease-in-out;
    &:hover{
        transform: scale(1.025);
        cursor:pointer;
        box-shadow: 1px 1px 7px var(--brand-color);
        @media(max-width: 400px){
          margin-bottom: 1rem;
          margin-left: 0;
        }
      }
  }
  }