*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --brand-color: #4a287c;
  --pink-highlight: #fc79b4;
  --text-color: #363636;
  --seagreen-highlight: #3bcacb;
  --purple-highlight: #9370db;
  --blue-highlight: #9ac8f3;
  --text-shadow: 3px 3px 0px var(--brand-color);

  --purple: #6B599E;
  --light-purple: #E4DCF3;
  --green: #589E86;
  --textColor: #414946;
  --light-green: #DCF1EA;
  --pink: #F2C3D3;
  --dark-pink: #A05770;

  --backdrop: rgb(0, 0, 0, 0.5);

  --border-radius: 4px;
  --border-radius_flat-bottom: 4px 4px 0 0;
  --transition: 300ms;
}

.react-photo-album--column {
  justify-content: flex-start !important;
}
.react-photo-album--photo{
  object-fit: cover !important;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--text-color);
}
section.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  @media (max-width: 1370px) {
    grid-template-columns: 25% 75%;
  }
  @media (max-width: 1100px) {
    grid-template-columns: 30% 70%;
  }
}
main {
  grid-column: 2/3;
  width: 100%;
  padding: 2rem;
  min-height: 83vh;
  @media (max-width: 830px) {
    padding: 1rem;
    margin-left: 0;
    grid-column: 1/3;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: var(--brand-color);
  transition: color var(--transition);
  &:hover {
    text-decoration: underline;
    color: var(--pink-highlight);
  }
}

main nav ul {
  display: block;
  margin-bottom: 3rem;
  text-align: center;
  &.animation {
    @media (max-width: 830px) {
      text-align: start;
    }
  }
  li {
    display: inline;
    padding: 1rem 2rem;
    @media (max-width: 830px) {
      padding: 1rem;
      font-size: 1rem;
    }
  }
}
article{
  max-width: 1200px;
  margin: auto;
}
nav#animation {
  display: flex;
  justify-content: center;
}
section {
  padding: 0;
  margin: 0;
}
img {
  border-radius: 4px;
  background: transparent;
}
 footer { 
  grid-column: 2/3;
  padding-block: 1rem;
  text-align: center;
  @media (max-width: 830px) {
    grid-column: 1/3;
    margin-left: 0;
  }
}
@keyframes rotate-center-alternate {
  0% { transform: rotate(-15deg); } 
  100% { transform: rotate(15deg);} 
}

.spinner {
  width: 30px;
  height: 30px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  border: 6px dotted #fff;
  border-radius:50%;
  transition: border-color var(--transition) ease-in-out;
}
.spinner:hover {
  border-color: var(--brand-color);
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.project-icon {
  animation: rotate-center-alternate 1s linear 0s infinite alternate none; 
}

select,
::picker(select) {
  appearance: base-select;
}
::picker(select) {
  top: anchor(bottom);
  border: 1px solid var(--brand-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  opacity: 0;
  transition: all var(--transition) allow-discrete;
  &:popover-open {
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }
}
select {
  padding: 10px;
  margin-top: 0.25rem;
  font-family: var(--lato);
  border: 1px solid var(--brand-color);
  border-radius: var(--border-radius);
  background: #fff;
  transition: var(--transition);
  option{
    padding: 0.5rem;
    transition: var(--transition);
    &:checked {
      font-weight: bold;
    }
    &:last-of-type {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }
  &:hover,
  &:focus {
    outline: 1px solid var(--brand-color);
  }
  &::picker-icon {
    width: 1.5rem;
    height: auto;
    content: url(/chevron-down-solid-full.svg);
    transition: var(--transition) rotate;
  }
  &:open{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    &::picker-icon {
      rotate: 180deg;
    }
  }
}
