.nav {
  z-index: 0;
  position: fixed;
  grid-column: 1/2;
  height: 100vh;
  width: 20%;
  text-align: justify;
  background: linear-gradient(
    180deg,
    var(--blue-highlight),
    hsla(0, 0%, 76.9%, 0)
    );
    @media (max-width: 1370px) {
      width: 25%;
    }
    @media (max-width: 1100px) {
      width: 30%;
    }
  @media(max-width: 830px) {
    z-index: 2;
    width: 90%;
    top: 50px; 
    left: 5%;
    height: fit-content;
    background: transparent;
    ul {
      z-index: 3;
      position: inherit;
      top: 50px;
      left: 5%;
      width: 90%;
      border: 1px solid var(--brand-color);
      border-radius: 10px;
      overflow: hidden;
      background:#fff;
    }
  }
}
.mobile {
  top: 0;
  left: 0;
  width: fit-content;
  background: transparent;
}
.li {
  list-style:none;
  transition: all var(--transition) ease-in-out;
    div{
      padding:0;
      margin:10px;
      border:none;
      box-shadow:none;
    }
    &:hover {
      background-color: var(--purple-highlight);
      a {
        text-decoration: none;
        color:#fff;
      }
}
}
.a {
  display: block;
  padding: 1.25rem;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: normal;
  color: var(--brand-color);
  transition: color var(--transition);
}
.logo {
  display: block;
  @media(max-width: 830px) {
    display:none;
  }
}
.about {
  display:none;
  @media(max-width: 830px) {
    display: block;
  }
}