@mixin btn ($color, $bg-color) {
  justify-self: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  color: $color;
  background-color: $bg-color;
  border: 1px solid $color;
  border-bottom-width: 2px;
  border-radius: var(--border-radius);
  transition: all var(--transition);
  cursor: pointer;
  &:not(:disabled) {
    &:hover,
    &:active {
      text-decoration: none;
      background-color: $color;
      color: $bg-color;
      border-color: $bg-color;
    }
  }
  &:disabled {
    filter: saturate(30%);
    cursor: not-allowed;
  }
}
@mixin svg ($color, $hover-color) {
  fill: $color;
  transition: all var(--transition);
  &:hover,
  &active {
    fill: $hover-color;
    scale: 1.1;
  }
}
@mixin display-price {
  display: inline-block;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: var(--brand-color); 
  @media(min-width: 831px) {
      font-size: 1.5em;
  } 
}