.aside {
    grid-column: 2/3;
    text-align: center;
    font-size: 1rem;
    @media(max-width: 830px){
        margin-left: 0;
        grid-column: 1/3;
    }
}
.span {
    grid-column: 1/3;
    font-weight: bold;
    color: var(--brand-color);
}