.h2 {
    font-size: 1em;
    @media(min-width: 831px) {
        font-size: 1.2em;
    }
}
.section {
    width:100%;
}
.wrapper {
    margin-block: 3em;
    &:first-of-type{
        margin-block: 0 3em;
    }
    @media(min-width: 831px) {
        margin-block: 4em;
        &:first-of-type{
            margin-block: 5em;
        }
    }
}
.category_wrapper {
    display: flex;
    border: 1px solid var(--brand-color);
    height: 175px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    gap: 20px;
    scrollbar-width: thin;
    @media(min-width: 831px) {
        height: 400px;
    }
    li {
        height: 100px;
        width: 150px;
        @media(min-width: 831px) {
            height: 360px;
            width: 350px;
        }
    }
}
.img {
    object-fit: cover;
    height: 100px;
    width: 150px;
    @media(min-width: 831px) {
        height: 275px;
        width: 350px;
    }
}
@mixin productInfo {
    color: var(--text-color);
    font-weight: normal;
    font-size: .8em;
    margin: 1px 0;
    @media(min-width: 831px) {
        font-size: 1.2em;
    }
}
.product_name {
    @include productInfo();
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product_info {
    @include productInfo();
    &~p {
        text-decoration: line-through;
        font-size: .6em;
        @media(min-width: 831px) {
            font-size: 1em;
        }
    }
}
.product_display {
    display: block;
    transition: all .2s ease-in-out 0s;
    p, div {
        padding: 0;
        transition: all .2s ease-in-out 0s;
    }
    &:hover {
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
        transition: all .2s ease-in-out 0s;
        p, div {
            padding: 0 5px;
            transition: all .2s ease-in-out 0s;
        }
    }
}
.product_soldout {
    @include productInfo();
    font-weight: bold;
    color: #FF0000;
    text-decoration: none !important;
    font-size: .8em !important;
}
.price_wrap {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    grid-auto-rows: minmax(100px, auto);

    @media(min-width: 831px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.h1 {
    font-size: 1em;
    color: var(--brand-color);
}