.h1 {
    font-size: 1em;
    color: var(--brand-color);
}

.h2 {
    font-size: 1.5em;
    color: var(--brand-color);
    text-align: center;
}
.img {
    width: 100%;
    height: auto;
}
.imgSmall {
    img.react-photo-album--photo{
        object-fit: cover;
        height: 100px;
        width: 100px;
    }
}
.price{
    font-size: 1.5em;
    color: var(--brand-color); 
    margin-right: .5em;
    display: inline-block;
    &~p:nth-of-type(2) {
        text-decoration: line-through;
        font-size: 1em;
    }
}
.noStock {
    color: #ff0000;
    font-weight: bold;
}
.aside {
    margin-block: 2.5em;
}
.learnMore {
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 1em;
}