.h2 {
    font-family: var(--cinzel);
    font-size: 1em;
    @media(min-width: 831px) {
        font-size: 1.2rem;
    }
}
.section {
    width:100%;
}
.wrapper {
    margin-block: 3em;
    &:first-of-type{
        margin-block: 0 2em;
    }
    @media(min-width: 831px) {
        margin-block: 2em;
        &:first-of-type{
            margin-top: 3.5em;
        }
    }
}
.category_wrapper {
    display: flex;
    width: 100%;
    height: 175px;
    padding: 10px;
    gap: 10px;
    border: 1px solid var(--brand-color);
    border-bottom-width: 2px;
    border-radius: var(--border-radius);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    @media(min-width: 831px) {
        padding: 20px;
        gap: 20px;
        height: 350px;
    }
    li {
        height: 100px;
        flex-basis: 33%;
        @media(min-width: 831px) {
            height: 360px;
        }
    }
}
.img {
    height: 100px;
    max-width: 140px;
    object-fit: cover;
    @media(min-width: 831px) {
        height: 240px;
        max-width: 309px;
    }
}
@mixin productInfo {
    margin: 1px 0;
    max-width: 140px;
    font-family: var(--cinzel) !important;
    font-weight: normal;
    font-size: .8em;
    color: var(--text-color);
    @media(min-width: 831px) {
        max-width: 309px;
        font-size: 1.2rem;
    }
}
.product_name {
    @include productInfo();
    &{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.product_info {
    @include productInfo();
    &~p {
        text-decoration: line-through;
        font-size: .75em;
    }
}
.product_display {
    display: block;
    transition: all var(--transition) ease-in-out 0s;
    p, div {
        padding: 0 5px;
        transition: all var(--transition) ease-in-out 0s;
    }
    &:hover {
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
        transition: all var(--transition) ease-in-out 0s;
        border-radius: var(--border-radius);
        img {
            border-radius: var(--border-radius_flat-bottom);
        }
        p, div {
            padding: 0 5px;
            transition: all var(--transition) ease-in-out 0s;
            @media(max-width: 830px) {
                padding: 0 2.5px;
            }
        }
    }
}
.product_soldout {
    @include productInfo();
    & {
        font-weight: bold;
        text-decoration: none !important;
        font-size: .8em !important;
        color: #FF0000;
    }
}
.price_wrap {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
}
.h1 {
    font-size: 1em;
    color: var(--brand-color);
}