@use './mixins.scss';
.h1 {
    font-size: 1em;
    margin-bottom: 0;
    grid-column: 1/3;
    grid-row: 1/2;
    @media(min-width: 831px) {
        font-size: 2em;
    }
}

.h2 {
    font-size: 1.5em;
    text-align: center;
}
.max_width {
    @media(min-width: 831px) {
        max-width: 80%;
        margin: auto;
    }
}
.productImage {
    width: 100%;
    overflow-y: auto;
}
.img {
    width: 100%;
    height: auto;
}
.imgDisplay {
    display: grid;
    gap: 5px;
    @media(min-width: 831px) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
.product_portrait {
    display:block;
    @media(min-width: 831px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        gap: 1rem 2rem;
    }
    .imgDisplay {
        @media (min-width: 831px) {
            grid-column: 1/2;
            grid-row: 2/5;
        }

        display:grid;
        gap: 1rem;
        overflow-y: clip;
    }
    .product_info {
        display: flex;
        text-align: end;
        @media (min-width: 831px) {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            .discount {
                justify-content: right;
            }
            label > p{
                margin:0;
            }
        }
        .product_discription {
            @media (min-width: 831px) {
                grid-row: 3/4;
                grid-column: 2/3;

            }
            p:first-child {
                margin-top: 0;
            }
            ul {
                padding: revert;
                list-style: circle;
            }
        }
}
.product_landscape {
    display: block;
    @media(min-width: 831px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 300px auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;
        .h1 {
            grid-row: 3/4;
            margin: 0;
        }
        .imgDisplay {
            grid-column: 1/3;
            grid-row: 2/3;
            display:grid;
            grid-template-columns: auto 100px;
            grid-template-rows: 430px;
            gap: 1rem;
            max-width: none;
            max-height: 500px;
            overflow-y: clip;
        }
        .productImage {
            overflow-y: hidden;
            border-radius: var(--border-radius);
        }
        .product_info {
            grid-column: 2/3;
            grid-row: 3/4;
            display: flex;
            text-align: end;
            .discount {
                justify-content: right;
            }
            label > p{
                margin:0;
            }
        }
        .product_discription {
            grid-row: 4/5;
            grid-column: 1/2;
            align-self: end;
            p:first-child {
                margin-top: 0;
            }
            ul {
                padding: revert;
                list-style: circle;
            }
        }
    }
}
.discount {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    p {
        font-family: var(--cinzel) !important;
        @include mixins.display-price;
    }
    p:last-child {
        text-decoration: line-through;
        color: var(--brand-color);
        font-weight: 400;
        font-size: 1.5rem;
    }
}
.price {
    p {
        font-family: var(--cinzel) !important;
        @include mixins.display-price;
    }
}
.product_info {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.stock {
    margin: 0;
}
.no_stock {
    margin: 0;
    font-family: var(--cinzel) !important;
    font-weight: bold;
    color: #ff0000;
}
.aside {
    margin-block: 2.5em;
}
.learn_more {
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: var(--cinzel);
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
}
.addToCart {
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: start;
    text-align: end;
    display: inherit;
    gap: 2rem;
    button {
        width: 100%;
        @include mixins.btn(#fff, var(--brand-color));
    }
}