@use './mixins.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: auto;
    width: 100%;
    max-width: 1024px;
    font-family: var(--cinzel);
    border-top: 2px solid var(--brand-color);
    @media(min-width: 830px) {
        border-top: none;
    }
    iframe {
        width: 100%;
        height: 125px;
        margin-block: 1rem;
        @media(min-width: 830px) {
            width: 60%;
        }
    }
    p {
        font-family: var(--lato);
        margin: 0;
        font-size: 1rem;
    }
    p:first-child {
        font-family: var(--cinzel);
    }
}
.title {
    font-size: 1.64rem !important;
    color: var(--brand-color);
    margin-bottom: .5rem;
}
.ul {
    display: flex;
    gap: 2rem;
    margin-block: 0 1rem;
    font-size: 1rem;
    li > a {
        font-weight: 400;
        font-size: 1rem;
        color: var(--text-color);
        transition: color var(--transition);
    }
    @media(min-width: 830px) {
        gap: 6rem;
    }
}
.socials {
    display: flex;
    justify-content: space-around;
    width: 100%;
    svg {
        @include mixins.svg(var(--brand-color), var(--purple-highlight));
    }
}