.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--brand-color);
}
.wrapper {
    display: flex;
    align-items: flex-end;
    span {
        margin: 1rem;
    }
}
.logo_wrapper {
    margin-top: 2rem;
}
.nav {
    border-top: 1px solid var(--brand-color);
    width: 100%;
}
.nav_list {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: white;
    border: 2px solid var(--brand-color);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    top: 20%;
    left: 5%;
    padding: 2rem;
    li {
        margin-block: 1rem;
        a {
            font-weight: 400;
            font-size: 2rem;
            color: var(--text-color);
        }
    }
    @media(min-width: 830px) {
        gap: 2rem;
        justify-content: center;
        background: transparent;
        border: none;
        flex-direction: row;
        position: static;
        padding: 10px;
        li {
            margin-block: 0;
            a {
                font-size: 1rem;
            }
        }
    }
}
.mobile_menu{
    border: none;
    box-shadow:none;
    height:100%;
    padding:0;
    margin:0;
  }
  .hamburger {
    z-index: 3; 
    display: none;
    cursor: pointer;
    top: 4.5rem; 
    left: 1rem;
    position: fixed;
    width: 80px;
    @media(max-width: 830px) {
      display: inline;
      border: none;
      border-radius: 50%;
      background: rgba(255,255,255,0.5);
      text-align: center; 
      padding: 2%;
      width: fit-content;
    }
  }
  
.checkout {
    z-index: 3; 
    cursor: pointer;
    @media(max-width: 830px) {
        top: 4.5rem; 
        right: 1rem;
        position: absolute;
        width: 80px;
        display: inline;
        text-align: center; 

    }
}