@use './mixins.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    svg {
        @include svg(var(--brand-color), var(--purple-highlight));
    }
}
.h1 {
    font-size: 3rem;
    color: var(--brand-color);
    transition: all var(--transition) ease-in-out 0s;
    &:hover {
        transform: scale(1.05);
        transition: all var(--transition) ease-in-out 0s;
    }
    a {
        font-weight: 400 !important;
        &:hover {
            text-decoration: none;
        }
    }
}
.wrapper {
    display: flex;
    align-items: flex-end;
    span {
        margin: 1rem;
    }
}
.nav {
    border-top: 1px solid var(--brand-color);
    width: 100%;
}
.nav_list {
    display: flex;
    flex-direction: column;
    width: 90%;
    background:#fff;
    border: 2px solid var(--brand-color);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    top: 20%;
    left: 5%;
    padding: 2rem;
    li {
        margin-block: 1rem;
        a {
            font-weight: 400;
            font-size: 2rem;
            color: var(--text-color);
        }
    }
    @media(min-width: 830px) {
        gap: 2rem;
        justify-content: center;
        background: transparent;
        border: none;
        flex-direction: row;
        position: static;
        padding: 10px;
        margin: auto;
        li {
            margin-block: 0;
            a {
                font-size: 1rem;
            }
        }
    }
}
.mobile_menu{
    border: none;
    box-shadow:none;
    height:100%;
    padding:0;
    margin:0;
  }
  .hamburger {
    z-index: 3; 
    display: none;
    cursor: pointer;
    top: 4.5rem; 
    left: 1rem;
    position: fixed;
    width: 80px;
    @media(max-width: 830px) {
      display: inline;
      border: none;
      border-radius: 50%;
      background: rgba(255,255,255,0.5);
      text-align: center; 
      padding: 2%;
      width: fit-content;
    }
  }
.icons {
    @media(min-width: 831px) {
       margin: 1rem;
      }
}
.checkout {
    z-index: 3; 
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--brand-color);
    font-size: 1.25rem;
    margin: 1rem;
    display: flex;
    @media(max-width: 830px) {
        top: 4.5rem; 
        right: 1rem;
        position: absolute;
        width: 80px;
    }
}
.loading {
    color: var(--light-purple);
    cursor: default;
}