.text_center {
    text-align: center;
  }
.title {
    font-size: 1.25rem;
}
.cinzelDec {
  font-family: var(--cinzel_decorative);
}
.cinzel {
  font-family: var(--cinzel);
}
.grandstand {
  font-family: var(--grandstander);
}
.lato {
  font-family: var(--lato);
}
.weightNormal {
  font-weight: 400;
}