.main{
  background: white;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1024px;
}
.h1 {
  font-size: 2rem;
  text-align: center;
}
.welcome {
  border: 2px solid var(--brand-color);
  border-radius: var(--border-radius);
  padding: 2em 4em;
  position: relative;
  width: calc(100% - 20px);
  margin-left: 20px;
  @media(max-width: 830px) {
    display: none;
  }
}
.decor {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--brand-color);
  border-radius: var(--border-radius);
}
.donate {
  margin: 2rem auto;
  text-align: center;
  img {
    width: 173px;
    height: auto;
  }
}
.iframe {
  width: 60%;
  @media (width <= 450px) {
    width:100%;
  }
}
.h2 {
  border-radius: 0px;
}
.cart {
  max-width: 90%;
  border-radius: var(--border-radius);
  border: 1px solid var(--brand-color);
  overflow: hidden;
}
.productList {
  max-height: 500px;
  overflow-y: auto;
}
.wrapper {
  max-width: 1024px;
  margin: auto;
}