.main{
  background: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
}
.h1 {
  font-size: 2rem;
  text-align: center;
}
.patron_h1 {
  font-size: 1rem;
  color: var(--brand-color)
}
.donate {
  margin: 2rem auto;
  text-align: center;
  img {
    width: 173px;
    height: auto;
  }
}
.iframe {
  width: 60%;
  @media (width <= 450px) {
    width:100%;
  }
}
.h2 {
  border-radius: 0px;
}