@use '../style/mixins.scss';

.main {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding: 2rem;
  max-width: 1024px;
  background:#fff;
}
.h1 {
  font-size: 2rem;
  text-align: center;
}
.welcome {
  position: relative;
  width: calc(100% - 20px);
  padding: 2em 4em;
  margin-left: 20px;
  border: 2px solid var(--brand-color);
  border-bottom-width: 4px;
  border-radius: var(--border-radius);
  @media(max-width: 830px) {
    display: none;
  }
}
.decor {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--brand-color);
  border-bottom-width: 2px;
  border-radius: var(--border-radius);
}
.donate {
  margin: 2rem auto;
  text-align: center;
  img {
    width: 173px;
    height: auto;
  }
}
.iframe {
  width: 60%;
  @media (width <= 450px) {
    width:100%;
  }
}
.h2 {
  border-radius: 0px;
}
.cart {
  max-width: 500px;
  border-radius: var(--border-radius);
  border: 1px solid var(--brand-color);
  border-bottom-width: 2px;
  overflow: clip;
  button {
    @include mixins.btn(var(--brand-color), #fff);
    & {
      margin: 1rem 0.5rem;
    }
  }
  .checkoutBtn {
    @include mixins.btn(#fff, var(--brand-color));
  }
  &::backdrop {
    background-color: var(--backdrop);
  }
}
.productList {
  max-height: 350px;
  overflow-y: auto;
  > li {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-template-areas: 
    'image product product'
    'image price price'
    'image qty delete'
    'descrip descrip descrip';
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--brand-color);
    border-radius: var(--border-radius);
    border-bottom-width: 2px;
    gap:1rem;
    button {
      grid-area: delete;
      color:var(--brand-color);
      width: auto;
      margin: 0;
      padding: 0.5rem;
      justify-self: flex-end;
      text-decoration: underline;
      border-radius: var(--border-radius);
      border: none;
      background: #fff;
      cursor: pointer;
      &:hover {
        text-decoration: underline !important;
        background: #fff !important;
        color:#FF0000 !important;
      }
    }
    img {
      grid-area: image;
      width: 100px;

    }
    .qty {
      grid-area: qty;
      justify-self: flex-start;
      margin: 0;
      font-size: 1rem;
      input {
        margin-left: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid var(--brand-color);
        border-bottom-width: 2px;
        border-radius: var(--border-radius);
      }
    }
    .prodName {
      grid-area: product;
      justify-self: flex-start;
      margin: 0;
    }
    .price {
      grid-area: price;
      justify-self: flex-start;
      margin: 0;
      font-size: 1rem
    }
    .description {
      grid-area: descrip;
      font-size: 1rem;
      margin: 0;
      text-align: left;
      ul {
        list-style: circle;
        margin:auto;
        padding: revert;
        text-align: left;
      }
    }
  }

}
.wrapper {
  max-width: 1024px;
  margin: auto;
}