.main{
  background:#fff;
  display:flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.h1 {
  font-size: 2rem;
}
.p { 
  @media (max-width: 830px){
    text-align: justify;
  }
}
.links {
  padding: 1rem;
}
.ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.image{
  overflow: hidden;
  img {
    padding: 5px;
    border-radius: 10px;
  }
}
.products {
  margin: 2rem;
  width: 100%;
  img{
    margin:1rem 3rem;
    border-radius: 10px;
  }
  @media (max-width: 1300px){
    margin: 1rem;
    img{
      margin:1rem 1rem;
    }
  @media (max-width: 830px){
    margin: 0;
    padding:0;
    }
  }
}
.section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  p {
    text-align: start;
    width: 350px;
    font-size: 1.5rem;
  }
  @media (max-width: 830px){
    flex-direction: column;
  }
}