.main{
  background: linear-gradient(155.85deg, #f7cade 11.48%, #cde7ff 67.04%);
  text-align:center;
  width: 100vw;
  margin: 0;
}
.h1{
  font-size: 3rem;
  margin: 0;
  padding: 2rem;
  @media (max-width: 780px){
      font-size: 2rem;
  }
}
.a{
  text-decoration: none;
  color: var(--brand-color);
  &:hover{
      color: var(--pink-highlight);
  }
}
.nav{
  font-size: 2rem;
}
.ul{
  list-style:none;
  padding:0;
  display: flex;
  flex-direction: column;
}
.li{
  padding: 1rem;
  @media (max-width: 480px){
      font-size: 2rem;
  }
}