.main{
  background: linear-gradient(155.85deg, #f7cade 11.48%, #cde7ff 67.04%);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}
.h1 {
  font-size: 2rem;
  text-align: center;
}
.iframe {
  width: 60%;
  @media (width <= 450px) {
    width:100%;
  }
}
.h2 {
  border-radius: 0px;
}