.patron_h1 {
    font-size: 1.25rem;
    color: var(--brand-color);
  }
.patronText strong {
    color: var(--brand-color);
}
.form {
  display: grid;
  border: 1px solid var(--purple-highlight);
  border-radius: var(--border-radius);
  width: 60%;
  margin: 3rem auto;
  h2 {
    color: var(--brand-color);
    text-align: center;

  }
}
.fieldset {
  display: inherit;
  grid-template-columns: repeat(3, 1fr);
  gap:1rem;
  border: none;
  label {
    grid-row: 2/3;
    justify-self: center;
    font-size: 1rem;
  }
}
.support {
  justify-self: center;
  background-color: #fff;
  border: 2px solid var(--brand-color);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  transition: all var(--transition);
  &:hover,
  &:active {
    background-color: var(--brand-color);
    color: #fff;
    text-decoration: none;
  }
}