@use 'sass:color';
@use '../../style/mixins.scss';

.main{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: 
    'h1 h1'
    'text patron'
    'kofi kofi';
    max-width: 1024px;
    margin: auto;
    @media (max-width: 830px) {
      display: block;
    }
}
.patron_h1 {
    grid-area: h1;
    margin: 0;
    font-size: 1.25rem;
    color: var(--brand-color);
  }
.patronText {
    grid-area: text;
    max-width: 50ch;
    color: var(--brand-color);
    p:first-of-type {
      margin: 0;
    }
}
.form {
  grid-area: patron;
  display: grid;
  margin-inline: 3rem;
  border: 1px solid var(--brand-color);
  border-bottom-width: 2px;
  border-radius: var(--border-radius);
  h2 {
    color: var(--brand-color);
    text-align: center;
  }
  @media (max-width: 830px) {
    margin: 0;
  }
}
.fieldset {
  display: inherit;
  grid-template-columns: repeat(3, 1fr);
  gap:1rem;
  border: none;
  label {
    grid-row: 1/2;
    justify-self: center;
    font-size: 1rem;
  }
}
.frequency {
  padding: .5rem;
  border-radius: var(--border-radius);
  background: #4a287c20;
  justify-self: center;
  input {
    visibility: hidden;
    height: 1px;
    width: 0;
    margin: 0;
  }
  label {
    text-align: center;
    width: 100%;
    background:#fff;
    border-radius: var(--border-radius);
    border: 3px solid transparent;
    padding: .5rem 1rem;
    transition: border-color var(--transition);
    cursor: pointer;
    @media (max-width: 830px) {
      padding: 0.5rem;
    }
    &:hover{
      border-color: var(--brand-color);
    }
    
  }
  label:has(input:checked) {
    text-align: center;
    background: var(--purple-highlight);
    border-radius: var(--border-radius);
    color:#fff;
    transition: background var(--transition);
    &:hover{
      background: color.adjust(#4a287c, $lightness: -5%);
    }
  }
}
.prices {
  grid-template-rows: repeat(2, auto);
  justify-self: center;
  margin-block: 2rem;

  input:not([type=number]) {
    visibility: hidden;
    height: 1px;
    width: 0;
    margin: 0;
  }
  label:has(input:not([type=number])) {
    text-align: center;
    background:#fff;
    border-radius: var(--border-radius);
    padding: .5rem 1rem;
    border: 1px solid var(--brand-color);
    border-bottom-width: 2px;
    transition: background var(--transition);
    cursor: pointer;
    &:hover{
      background: color.adjust(#4a287c, $lightness: 60%);
    }
  }
  label:has(input:checked) {
    text-align: center;
    background: var(--purple-highlight);
    border-radius: var(--border-radius);
    color:#fff;
    transition: background var(--transition);
    &:hover{
      background: color.adjust(#4a287c, $lightness: -5%);
    }
  }
}
.patronChoice{
  margin-top: 1rem;
  grid-row: 2/3 !important;
  grid-column: 1/4;
  border: none !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
  input {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0.5rem 2rem;
    border: 1px solid var(--brand-color);
    border-bottom-width: 2px;
    border-radius: var(--border-radius);
    font-size: 1.25rem;
    font-size: 1.25rem;
    max-width: 150px;
  }
  input[aria-invalid="true"] {
    border-color: var(--dark-pink);
  }
  &:before {
    content:'$';
    font-size: 1.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
    padding: 10px;
  }
}
.support {
  @include mixins.btn(var(--brand-color), #fff);
}